.. title:: Index

.. Define the overall structure, that affects the prev-next buttons and the order
   of the sections in the top navbar.

.. toctree::
   :hidden:
   :maxdepth: 2

   Install <install>
   User Guide <user_guide>
   API <api/index>
   Getting Started <getting_started>
   About <about>